<nav>
    <a class="button"
       routerLink="/sensors"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Sensors
    </a> |
    <a class="sensors-online"
       routerLink="/sensors-online"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       sensors-online
    </a> |
    <a class="chart"
       routerLink="/chart"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       chart
    </a> |
    <a class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Login
    </a>
  </nav>